<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>cji-iio</title>
  <style>
    /* Inline critical CSS to prevent white flash */
    html, body {
      background-color: #2b2b2b !important;
      color: #e0e0e0 !important;
      margin: 0;
      padding: 0;
    }
  </style>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
</head>
