<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <div class="nav-links">
        <a class="page-link" href="{{ "/about/" | relative_url }}">About</a>
        <a rel="me" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" title="LinkedIn" target="_blank">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
        </a>
      </div>
    </nav>
  </div>
</header>
