<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>

  <!-- Google Fonts - JetBrains Mono -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">

  <style>
    /* Critical CSS to prevent flash */
    html, body {
      background-color: #262626;
      color: #d4d4d4;
      margin: 0;
      padding: 0;
      font-family: 'JetBrains Mono', monospace;
    }
  </style>

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
</head>
