<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ " /" | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ " /" | relative_url }}">Blog</a>
      <a href="{{ " /about/" | relative_url }}">About</a>
      {% if site.social.github %}
      <a href="https://github.com/{{ site.social.github }}" target="_blank">GitHub</a>
      {% endif %}
      {% if site.social.twitter %}
      <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank">Twitter</a>
      {% endif %}
      {% if site.social.linkedin %}
      <a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank">LinkedIn</a>
      {% endif %}
    </nav>
  </div>
</header>